.tables_wrapper {
  text-align: center;
  h1 {
    color: #337ab7;
    display: block;
    padding: 10px 0;
  }

  .tables {
    width: 100%;
    padding: 20px 50px;

    select {
      cursor: pointer;
    }

    .VueTables {
      //display: inline-block;
      text-align: center;

      .row {
        display: inline-block;
        

      }

      .table-responsive {
        display: inline-block;
        width: 100%;

        table {
          tr {
            th {
              span.VueTables__sort-icon {
                float: right;
                cursor: pointer;
              }
            }
            td {
              img {
                width: 20px;
                height: auto;
              }

              .VueTables__highlight b {
                background: yellow;
                color: red;
              }

              .VueTables__child-row-toggler {
                width: 16px;
                height: 16px;
                line-height: 16px;
                display: block;
                margin: auto;
                text-align: center;
                font-size: 1.5em;
                cursor: pointer;
              }

              .VueTables__child-row-toggler--closed::before {
                content: "+";
              }

              .VueTables__child-row-toggler--open::before {
                content: "-";
              }
            }
          }
        }
      }
    }
  }

}
